<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BengkelApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RegisterCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".JasaActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressMenginapActivity"
            android:exported="false" />
        <activity
            android:name=".ServisMenginapActivity"
            android:exported="false" />
        <activity
            android:name=".LaporanPendapatanActivity"
            android:exported="false" />
        <activity
            android:name=".DetailServisActivity"
            android:exported="false" />
        <activity
            android:name=".EditBarangActivity"
            android:exported="false" />
        <activity
            android:name=".InventoriBarangActivity"
            android:exported="false" />
        <activity
            android:name=".PembayaranServisActivity"
            android:exported="false" />
        <activity
            android:name=".LaporanServisActivity"
            android:exported="false" />
        <activity
            android:name=".LaporanActivity"
            android:exported="false" />
        <activity
            android:name=".BuatAkunKasirActivity"
            android:exported="false" />
        <activity
            android:name=".BuatAkunCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".MenuServisActivity"
            android:exported="false" />
        <activity
            android:name=".ServisSelesaiActivity"
            android:exported="false" />
        <activity
            android:name=".EditStatusServisActivity"
            android:exported="false" />
        <activity
            android:name=".EditCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".DataCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ListServisActivity"
            android:exported="false" />
        <activity
            android:name=".ServisMasukActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardKasirActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".TambahProgressActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressServisActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.BengkelApp.NoAnimation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>